{% extends 'wisesaying/base.html' %}

{% block content %}
<div class="signup">
    <h2 class="siunup-header">Sign up</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <p style="color:red">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <div>
            <button type="submit">Sign up</button>
        </div>
        <div><a href="{% url 'login' %}">로그인창으로 돌아가기</a></div>
    </form>
</div>
{% endblock %}